<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devoured}}Wanna eat it!{{else}}Ate it!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete Burger</button>
</li>