<div class="list-item gray-bg">
	{{name}}
	<div class="button-container">
		<button class="btn change-devoured" data-id="{{id}}" data-eaten="{{devoured}}">
			{{#if devoured}}Wanna eat it!{{else}}Ate it!{{/if}}
		</button>
		<button class="btn delete-burger" data-id="{{this.id}}">Delete Burger</button>
	</div>
</div>